.card{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 300px;
    height: auto;
    border-radius: 12px;
    align-items: center;
    gap: 10px;
    background-color: #eeeaea;
}
.card img{
    height: 280px;
    object-fit: cover;
    border-radius: 6px;
    width: 100%;
}